@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom font family class */
.font-poppins {
    font-family: "Poppins", sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    background-color: transparent;
    overflow-x: hidden;
}
